<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	</sectionGroup>
  </configSections>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
	  <parameters>
		<parameter value="System.Data.SqlServerCe.4.0" />
	  </parameters>
	</defaultConnectionFactory>
	<providers>
	  <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	  <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
	</providers>
  </entityFramework>
  <connectionStrings>
	<add name="Monitor.Context" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=.\Database.sdf" />
  </connectionStrings>
  <system.data>
	<DbProviderFactories>
	  <remove invariant="System.Data.SqlServerCe.4.0" />
	  <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
	</DbProviderFactories>
  </system.data>
  <userSettings>
	<Monitor.Properties.Settings>
   <setting name="WindowTop" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="WindowLeft" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="WindowHeight" serializeAs="String">
     <value>768</value>
   </setting>
   <setting name="WindowWidth" serializeAs="String">
     <value>1024</value>
   </setting>
   <setting name="WindowMaximized" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="TreeWidth" serializeAs="String">
     <value>400</value>
   </setting>
   <setting name="EditorWidth" serializeAs="String">
     <value>600</value>
   </setting>
   <setting name="Currency" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="ProxyEnabled" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="CurrencyPanelOpen" serializeAs="String">
     <value>True</value>
   </setting>
 </Monitor.Properties.Settings>
  </userSettings>
</configuration>